<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd

">

	<bean id="config" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.util.Date">
					<value>com.eliteGrass.propertyeditor.DatePropertyEditorSupport</value>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="user" class="com.eliteGrass.propertyeditor.User">
		<property name="age" value="10"/>
		<property name="name" value="张三"/>
		<property name="birthDate" value="2025-01-01"/>
	</bean>
</beans>